{% extends 'base.template.html' %}

{% block content %}

{% for cart_item in all_cart_items %}
<div class="col-lg-3 col-md-6 mb-4">
  <img src="{{ cart_item.product.image.url }}" class="mr-3">
  <div class="media-body">
    <h5 class="mt-0">{{cart_item.product.name}}</h5>
    <p>{{cart_item.description}}</p>
    <p>Cost: ${{cart_item.product.getCostInDollars}}0
    <br>
    Quantity: {{ cart_item.quantity }}
    <a href="{% url 'remove_from_cart' cart_item_id=cart_item.id%}">Remove</a>
    </p>
</div>
{%endfor%}

<div class="total-cost">

<p>Your total is ${{total_cost}}0</p>
<a href="{%url 'checkout' %}">Pay</a>
</div>

{%endblock%}