{% extends 'accounts.template.html' %}
{% block content %}
  <main>
    <center>
      
      <div class="section"></div>

      <div class="section"></div>

      <div class="container">
        <div class="z-depth-5 white lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method='POST'>
              {% csrf_token %}
              
              <img id='success' style="width: 250px;" src="https://media.giphy.com/media/YlXq7j7Ed6tVFVbyVt/source.gif"/>
             
              
              
              
              
              
              
              
              
              <h5 class="pink-text">Success!</h5>
              
              <p class="black-text">Your password has been reset. Please check your email.</p>
              
   
              <br>
            <center>
              <div class='row'>
                <a href='{% url "login" %}'><input type='button' class='col s12 btn btn-large waves-effect waves-light deep-purple darken-4' value='Login to your account'/></a>
              </div>
            </center>
          </form>
        </div>
      </div>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>
{% endblock %}


