{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load static %}

{%block footer_js %}

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>

<script src="{% static 'checkout/stripe.js' %}"></script>
{%endblock%}

{%block content %}

<style>
  /* CART */
.checkout-background.container-fluid {
  flex: 1 0 auto;
  position: absolute;
  height: 88vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: url(/media/sky.png);
  background-repeat: no-repeat;
}

#checkout-paymentform,
#checkout-orderform .form-group {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing:2px;
  color: grey;
}



/**/
        .form-group input[type=text], 
        .form-group input[type=email] {
           height: 3.5vh;
           font-size: 15px;
        }
        
        
    
        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
          border-bottom: 2px solid #e91e63;
          box-shadow: none;
        }

.progressbar {
  background-color: transparent;
  position: absolute;
  text-align: center;
  top:-2vh;
  left:-6vw;
  transform: scale(0.3); 
  z-index:1200;
}

</style>

<div class='progressbar'><img src='https://i.imgur.com/BWTkmYo.png'/></div>

<form role="form" method="POST" id="payment-form">


<div class="checkout-background container-fluid">
    
    <div class="container-fluid col-lg-8 col-md-10 col-sm-12">
     <div class='alert alert-danger' id='credit-card-errors' style='display:none'>
        <p id='stripe-error-message'></p>
    </div>
    </div>
    
  <div class="container-fluid col-lg-8 col-md-10 col-sm-12 mt-5">
   
    <div class='row' id='col-contents'>
      <div id='checkout-orderform' class='col-md-6 col-sm-12 p-5' style='background-color:#ece6ff; height: 70vh; overflow-y: none;'>
        
    <div class="form-group col-md-12">
        {{ order_form | crispy }}
    </div>


      </div>

      <div id='checkout-paymentform' class='col-md-6 col-sm-12 p-5' style='background-color:white;'>
         <div class='payment-methods mb-1' style='color: #311b92; text-align:center;'>
           <p style='margin-bottom:3px;'>We accept</p>
           <i class="fa fa-cc-visa fa-2x mr-1" aria-hidden="true"></i>
           <i class="fa fa-cc-mastercard fa-2x mr-1" aria-hidden="true"></i>
           <i class="fa fa-cc-amex fa-2x" aria-hidden="true"></i>
           
         </div>
        <div class="form-group col-md-12">
            {{ payment_form | crispy }}
        </div>
        
        {% csrf_token %}
        <div class="form-group col-md-12">
        <div class="wrapper"><input class="btn p-3 mt-3" id="submit_payment_btn" style='background-color:#311b92; font-size: 13px; color: white; border-radius:0px;' type="submit" value="Pay ${{ amount| div:100}}0">
        </div>
    </div>
    </row>
  </div>








</div>










    
    <!--To pass total amount and transaction ID back into the Transaction form -->
    <input type='hidden' value='{{amount}}' name='amount'/>
    <input type='hidden' value='{{transaction.id}}' name='transaction_id'/>
    
     

{% endblock %}