{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{%block footer_js %}

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>

<script src="{% static 'checkout/stripe.js' %}"></script>
{%endblock%}

{%block content %}
<form role="form" method="POST" id="payment-form">
    <legend>Payment Details</legend>


    <div class='alert alert-danger' id='credit-card-errors' style='display:none'>
        <p id='stripe-error-message'></p>
    </div>

    <div class="form-group col-md-6">
        {{ order_form | crispy }}
    </div>

    <div class="form-group col-md-6">
        {{ payment_form | crispy }}
    </div>

    {% csrf_token %}
    
    <!--To pass total amount and transaction ID back into the Transaction form -->
    <input type='hidden' value='{{amount}}' name='amount'/>
    <input type='hidden' value='{{transaction.id}}' name='transaction_id'/>
    <div class="form-group col-md-12">
        <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Pay">
    </div>


{% endblock %}