{% extends 'base.template.html' %}
{%block content %}

<style>
 
.checkout-background.container-fluid {
  flex: 1 0 auto;
  position: absolute;
  height: 88vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: url(/media/sky.png);
  background-repeat: no-repeat;
}

.thankyou-wrapper {
    text-align: center;
}
.progressbar {
  background-color: transparent;
  position: absolute;
  text-align: center;
  top:-2vh;
  left:-6vw;
  transform: scale(0.3); 
  z-index:1200;
}

</style>

<div class='progressbar'><img src='https://i.imgur.com/HQA1w6j.png'/></div>

<div class="checkout-background container-fluid">
    <div class='thankyou-wrapper'>
         <div class="container-fluid col-lg-8 col-md-10 col-sm-12 mt-5 p-5" style='background-color:white; height: 70vh; overflow-y: none;'>
             <h3 class='thankyou-message pl-5 pt-5 pr-5 pb-1'>Thank you for shopping with us! An e-invoice has been sent to your email. </h1>
             <img style='width: 400px' src='https://i.imgur.com/xWV2Zck.png'/><br>
             <a class="btn p-3 mt-3" style='background-color:#311b92; font-size: 13px; color: white; border-radius:0px;' href="{%url 'user_profile' %}" role="button">Track Order</a>
             
        </div>
    </div>
</div>
{% endblock %}