{% extends 'base.template.html' %}
{% load mathfilters %}
{%block content%}

<style>
    
</style>


<header style='height: 30vh!important; z-index:1'>
    <div class='user-details' style='position: relative; left: 11vw; padding-top: 6vh;'>
<h1 style='font-size: 5vh; color: white;'>Welcome, {{ user }}</h1>
<p style='font-size: 2vh; color: white;'>{{ user.email }}</p>
<img src='https://i.imgur.com/HlWJrqT.png' style='position: absolute; left: 43vw; top: 3vh; width:300px;'/>
</div>
</header>

<div class="container-fluid">
<div class="card text-center" style='border: none;'>
  <div class="card-header" style='background-color: #1e1753; position: absolute; z-index:2; top:-6.1vh;'>
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" style="margin-left: 21vw;">
        <a class="nav-link active" href="{% url 'user_profile' %}">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'view_wishlist' %}" style='color: white;'>Wishlist</a>
      </li>
    </ul>
  </div>
  

  <div class="card-body d-flex flex-column"  style="margin-left: 21vw;">
     
     {% for transactions in all_transactions %}
      <div class="card col-lg-7 col-md-12 col-sm-12 mt-3 mb-3 p-3">
      <div class="card-body">
          
      <div class="row no-gutters d-flex">
            <div class="col-md-2 pt-2">
              <h5 class="card-title"><b>Order #{{ transactions.id }}</b></h5>
              <a href="{% url 'view_transaction' transactions.id %}" style='color: #ea3a7e; text-transform: uppercase; font-size: 1.5vh; text-decoration: none;'>View Order ➜</a>
            </div>
            
            <div class="col-md-8 pt-4">
              <p class="card-text" style='text-transform: capitalize;'><i class="fa fa-circle" style='color: #ea3a7e;' aria-hidden="true">&nbsp;</i>      {{ transactions.status }}</p>
            </div>
            
            <div class="col-md-2 pt-2">
              <p class="card-text" style='text-transform: uppercase; font-size: 1.3vh;'>Transaction of <br>
              <span class="card-cost" style="font-weight: bold; color: #ea3a7e; font-size: 2vh;">${{ transactions.cost| div:100 }}0</span><Br>
              <span class="date" style='text-transform: uppercase; font-size: 1.3vh;'>Made on {{ transactions.date }}</span></p>
            </div>
      </div>
      </div>
      </div>
   
{% endfor %}
     </div>
  </div>
</div>
</div>
  
 

{% endblock %}