{% extends 'base.template.html' %}
{% load mathfilters %}
{%block content%}


<header style='height: 30vh!important; z-index:1'>
    <div class='user-details' style='position: relative; left: 11vw; padding-top: 6vh;'>
<h1 style='font-size: 5vh; color: white;'>Welcome, {{ user }}</h1>
<p style='font-size: 2vh; color: white;'>{{ user.email }}</p>
<img src='https://i.imgur.com/HlWJrqT.png' style='position: absolute; left: 43vw; top: 3vh; width:300px;'/>
</div>
</header>

<div class="container-fluid" style="margin-left: 20vw;">
<div class="card text-center" style='border: none;'>
  <div class="card-header" style='background-color: #1e1753; position: absolute; z-index:2; top:-6.1vh;'>
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'view_wishlist' %}" style='color: white;'>Wishlist</a>
      </li>
    </ul>
  </div>
  
  
  <div class="card-body d-flex flex-column">
    
    <!--Order card layout-->
     {% for transactions in all_transactions %}
    <div class="card col-lg-6 col-sm-10 mt-3 mb-3">
      <div class="card-body">
          <p>{{ forloop.counter }} </p>
     <a href="{% url 'view_transaction' transactions.id %}"><p>{{ transactions.id }} </p></a>
     
      <p>{{ transactions.date }} </p>
       <p>{{ transactions.charge.street_address1 }} </p>
         <p>{{ transactions.status }} </p>
           <p>${{ transactions.cost| div:100 }} </p>
       
    
      </div>
    </div>
      {% endfor %}
    
      <div class="card col-lg-6 col-sm-10 mt-3 mb-3">
      <div class="card-body">
          
      <div class="row no-gutters d-flex">
            <div class="col-md-2 pt-3">
              <h5 class="card-title"><b>Order #002</b></h5>
              <a href="#" style='color: #ea3a7e; text-transform: uppercase; font-size: 1.5vh; text-decoration: none;'>View Order ➜</a>
            </div>
            
            <div class="col-md-8 pt-3">
              <p class="card-text"><i class="fa fa-circle" style='color: #ff781f;' aria-hidden="true">&nbsp;</i>      Shipped on 28 Sep, 2019</p>
            </div>
            
             <div class="col-md-2">
              <img style='max-width:100px;' src='https://gd.image-gmkt.com/SAMYANG-FIRE-NOODLE-CHALLENGE-SAUCE-SAMYANG-ORIGINAL-HOT-SPICY-CHICKEN/li/720/662/1296662720.g_400-w_g.jpg'/>
            </div>
      </div>
      </div>
    </div>
            
            
        <div class="card col-lg-6 col-sm-10 mt-3 mb-3" style='border-color: #4c9a2a;'>
      <div class="card-body">
          
      <div class="row no-gutters">
            <div class="col-md-2 pt-3">
              <h5 class="card-title" style='color: grey'><b>Order #001</b></h5>
              <a href="#" style='color: #ea3a7e; text-transform: uppercase; font-size: 1.5vh; text-decoration: none;'>View Order ➜</a>
            </div>
            
            <div class="col-md-8 pt-3">
              <p class="card-text" style='color:grey'><i class="fa fa-check-circle" style='color: #4c9a2a;' aria-hidden="true">&nbsp;</i>      Order Completed on 19 Aug, 2019</p>
            </div>
            
             <div class="col-md-2">
              <img style='max-width:100px;' src='https://cf.shopee.sg/file/d4c24b2ab9200144e39c144aa307172e'/>
            </div>
      
    </div>

    
  </div>
  
  
  
</div>
</div>

{% endblock %}