{% extends 'base.template.html' %}
{% load mathfilters %}
{%block content%}


<header style='height: 30vh!important; z-index:1'>
    <div class='user-details' style='position: relative; left: 11vw; padding-top: 6vh;'>
<h1 style='font-size: 5vh; color: white;'>Welcome, {{ user }}</h1>
<p style='font-size: 2vh; color: white;'>{{ user.email }}</p>
<img src='https://i.imgur.com/HlWJrqT.png' style='position: absolute; left: 43vw; top: 3vh; width:300px;'/>
</div>
</header>

<div class="container-fluid" style="margin-left: 20vw;">
<div class="card text-center" style='border: none;'>
  <div class="card-header" style='background-color: #1e1753; position: absolute; z-index:2; top:-6.1vh;'>
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'view_wishlist' %}" style='color: white;'>Wishlist</a>
      </li>
    </ul>
  </div>
  
  
  <div class="card-body d-flex flex-column">
      
      
      
   
    <div class="card col-lg-6 col-sm-10 mt-3 mb-3">
      <div class="card-body">
           <p>Date of Purchase: {{ transaction.date }} </p> 
          
          
          
          
     
   
     {% for l in line_items %}
      
       <img src="{{ l.product.image.url }}"/>
       <p>{{ l.sku }} </p>
         <p>Product Name: {{ l.name }} </p>
           <p>${{ l.cost| div:100 }}0 </p>
            <p>{{ l.transaction_quantity }} </p>
       <p>Total cost: ${{ transaction.cost|div:100 }}0 </p>
    
      </div>
    </div>
      {% endfor %}
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </div>

    
  </div>
  
  
  
</div>
</div>

{% endblock %}