{% extends 'base.template.html' %}
{%block content %}

<style>
 
body {
  flex: 1 0 auto;
  position: absolute;
  height: 99.9vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: url(/media/sky.png);
  background-repeat: no-repeat;
  overflow-y: hidden;
}
.product-img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	max-width:200px;
	max-height:200px;
}
.product-img:hover {
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.product-name {
  padding-top: 2vh;
  font-weight: bold;
  font-size: 15px;
  letter-spacing:1px;
  color: #311b92;
  height: 60px;
}
.product-cost {
  font-weight: bold;
  font-size: 17px;
  letter-spacing:1px;
  color: black;
}
#btn-cart {
   background-color:#311b92;
   font-size: 13px;
   letter-spacing:1px;
   color: white;
   border-radius:0px;
   width: 13vw;
}
#btn-cart:hover {
   background-color:#7265ad;
}
.filter-container {
    position:absolute;
    color:white;
    z-index:3;
}
#filter-header, #filter-all {
  font-size: 14px;
  letter-spacing:1px;
  text-transform: uppercase;
  text-decoration:none;
  color:white;
}

#filter-all:active, #filter-all:hover,
.filter-link:hover {
    color:#ea3a7e;
    border-width:thin;
    border-style: solid;
    padding: 1vw;
}
#filter-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-container {
    width:15vw;
}

.filter-link{
  text-decoration:none;
  color:white;
  font-size: 16px;
  letter-spacing:1px;
}


</style>

<div class='container-fluid col-12'>
<div class='row'>
    <div class='col-12'>
        
        
            
             <div class='filter-container col-5 px-3 mx-5 pt-3'>
  <div class='row'>
    <div class='col' id='filter-header'>
      Filter by Country:
    </div>
  </div>
      <br>
  <div class='row'>
    <div class='col mt-2' id='filter-content'>
        <ul>
            <li>
                <a class='filter-link' href=" {%url 'catalog_japan' %}">Japan</a>
            </li>
            <br>
            <li>
                <a class='filter-link' href="{%url 'catalog_korea' %}">Korea</a>
            </li>
            <br>
            <li>
                <a class='filter-link' href="{%url 'catalog_taiwan' %}">Taiwan</a>
            </li>
            <br>
             <li>
                <a id='filter-all' href="{%url 'catalog' %}">View All Products</a>
            </li>
        </ul>
     
    </div>
  </div>
</div>
        
    </div>
</div>
  
  
  
  <div class='col-12'>
         <div class="container-fluid col-lg-12 col-md-10 col-sm-12 pl-5 pr-5 pb-5" style='background-color:none; height: 100vh; overflow-y: auto;'>
             
             
             
         

             
             
             
             
             
             
             
            
            
            <div id="product-container" class="container-fluid col-lg-8 col-md-8 col-sm-10" style="display: flex; flex-wrap: wrap;">   

   
    
    {%for product in products %}
    
    <div class="card shadow p-3 mb-5 bg-white" style="position: relative;z-index:1; border:0px;padding: 2%; margin:2%; flex-grow: 1; flex-basis: 25%; display: flex; text-align:center; border-radius:0px;">
           
           
           
           <!--WISHLIST-->
           <!--   {% if product.id in wished_products == product.id in all_products%}-->
                <!--   <a id='btn-cart' class="btn p-3 mt-3" href="{% url 'remove_from_wishlist' product_id=product.id %}" role="button">unfavourite</a>-->
                <!--   {%else%}-->
                <!--<a id='btn-cart' class="btn p-3 mt-3" href="{% url 'add_to_wishlist' product_id=product.id %}" role="button">Favourite</a>-->
                <!--    {%endif%}-->
                
           
           <div class='card-title'>
            <a class='wishlist-btn' style='flex-direction: row; position: absolute; right: 3vw' href="{% url 'remove_from_wishlist' product_id=product.id %}" data-toggle="tooltip" data-placement="right" title="Remove from wishlist"><i style='color: #311b92;' class="fa fa-heart fa-2x" aria-hidden="true"></i></a>
                
            <a class='wishlist-btn' style='flex-direction: row; position: absolute; right:1vw;' href="{% url 'add_to_wishlist' product_id=product.id %}" data-toggle="tooltip" data-placement="right" title="Add to wishlist"><i style='color: #311b92' class="fa fa-heart-o fa-2x" aria-hidden="true"></i></a>
            </div>
           
           
           
        <div class="card-body">
            
            <a href="{% url 'productview' product_id=product.id %}"><img class='product-img' src="{{product.image.url}}" class="card-img-top">
            
            <div class='wrap-product pt-2'>
            <h5 class="product-name" >{{product.name}}</h5></a>
            <p class="product-cost">${{product.getCostInDollars}}0</p>
            </div>
            
            
            
           
            {% if user.is_authenticated %}
            <a id='btn-cart' class="btn p-3 mt-3" href="{% url 'add_to_cart' product_id=product.id %}" role="button">ADD TO CART</a>
           
              
        
                <!--NESTED IF STATEMENTS TO SHOW WHEN existing_wislist_item == None or != None -->
                
        
                   {% if product.id in wished_products == product.id in all_products%}
                   <a id='btn-cart' class="btn p-3 mt-3" href="{% url 'remove_from_wishlist' product_id=product.id %}" role="button">unfavourite</a>
                   {%else%}
                <a id='btn-cart' class="btn p-3 mt-3" href="{% url 'add_to_wishlist' product_id=product.id %}" role="button">Favourite</a>
                    {%endif%}
               
                
                
           
            {%endif%}
            
            {% if not user.is_authenticated %}
            <a id='btn-cart' class="btn p-3 mt-3" href="{%url 'login' %}" role="button">ADD TO CART</a>
            <a id='btn-cart' class="btn p-3 mt-3" href="{%url 'login' %}" role="button">Favourite</a>
            
            
            
            
            {%endif%}
        </div>
    </div>
    {%endfor%}
            
            
             
        
    </div>
</div>






</div>
</div>
</div>


{%endblock%}
