{% extends 'base.template.html' %}

{%block content %}

   <img src="{{selected_product.image.url}}"/> 
 <h4>{{selected_product.name}}</h4>
  <h4>{{selected_product.sku}}</h4>
  <h4>{{selected_product.origin}}</h4>
  <h4>{{selected_product.description}}</h4>
   <h4>{{selected_product.ingredients}}</h4>
   <h4>${{selected_product.getCostInDollars}}0</h4>


<!--ERROR LIES HERE: ADD TO CART URL-->
                
 {% if user.is_authenticated %}
            <a href="{% url 'add_to_cart' product_id=product.id %}" class="btn btn-primary">Add to Cart</a>
            {%endif%}
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}" class="btn btn-primary">Add to Cart</a>
            {%endif%}
 
{%endblock%}