{% extends 'base.template.html' %}
{%block content %}

<style>
 
.background.container-fluid {
  flex: 1 0 auto;
  position: absolute;
  height: 88vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: url(/media/sky.png);
  background-repeat: no-repeat;
}

.product-wrapper {
    text-align: center;
}

#btn-cart {
   background-color:#311b92;
   font-size: 13px;
   letter-spacing:1px;
   color: white;
   border-radius:0px;
   width: 13vw;
}
#btn-cart:hover {
   background-color:#7265ad;
}
.filter-container {
    position:absolute;
    color:white;
    z-index:3;
}

.nav-item:active, .nav-item:focus, .nav-item {
background: linear-gradient(to right, #311b92,#311b92) no-repeat;
  background-size: 80% 3px;
  background-position: center bottom;
}




</style>

<div class="background container-fluid">
    <div class='product-wrapper'>
         <div class="container-fluid col-lg-8 col-md-10 col-sm-12 mt-5 p-5" style='background-color:white; height: 70vh; overflow-y: none;'>
             <div class="row">
                 <div class='col-lg-7 col-md-12 col-sm-12'>
                      <img class='pt-3' style='max-width:500px;' src="{{selected_product.image.url}}"/> 
                 </div>
                 <div class='col-lg-5 col-md-12 col-sm-12' style='background-color:white; height:50vh;'>
                         
               
                <h4 class='product-title' style='background-color:transparent; color:#311b92; font-size: 2vh;font-weight:bold;text-decoration: none; text-transform:uppercase;' >{{selected_product.name}}</h4>
                
                
                
                <h4 class='product-cost mt-4 mb-4'><b>${{selected_product.getCostInDollars}}0</b></h4>
                
                
                <!--ERROR LIES HERE: ADD/REMOVE TO CART & ADD/REMOVE WISHLIST URL-->
                
 
            
 {% if user.is_authenticated %}
             <a id='btn-cart' class="btn p-3 mt-3" href="{% url 'add_to_cart' product_id=selected_product.id %}" role="button">ADD TO CART</a>
           <br>
            {% if selected_product.id in wished_products %}
                <a id='btn-cart' class="btn p-3 mt-3" href="{% url 'remove_from_wishlist' product_id=selected_product.id %}" role="button">REMOVE FROM WISHLIST</a>
            {%else%} 
                <a id='btn-cart' class="btn p-3 mt-3" href="{% url 'add_to_wishlist' product_id=selected_product.id %}" role="button">ADD TO WISHLIST</a>
            {%endif%}
{%endif%}
{% if not user.is_authenticated %}
             <a id='btn-cart' class="btn p-3 mt-3" href="{% url 'login' %}" role="button">ADD TO CART</a>
            <br>
             <a id='btn-cart' class="btn p-3 mt-3" href="{% url 'login' %}" role="button">ADD TO WISHLIST</a>
{%endif%}
                
                
                
<ul class="nav nav-pills mb-3 mt-5" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" style='background-color:transparent; color:#311b92; font-weight:bold;text-decoration: none; text-transform:uppercase;' id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-selected="true">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style='background-color:transparent; color:#311b92; font-weight:bold;text-decoration: none; text-transform:uppercase;'  id="pills-details-tab" data-toggle="pill" href="#pills-details" role="tab" aria-controls="pills-details" aria-selected="false">Details</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" style='text-align:left;' id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
          <p class='product-description'>{{selected_product.description}}</p>
      </div>
      <div class="tab-pane fade" style='text-align:left;' id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab">
          <p class='product-details'>SKU: {{selected_product.sku}}</p>
          <p class='product-details'>Country of Origin: {{selected_product.origin}}</p>
          <p class='product-details'>Ingredients: {{selected_product.ingredients}}</p>
      </div>
</div>
                
                
                
                
                
                
                
                
             
             
                 </div>
             </div>
             
           




             
        </div>
    </div>
</div>
{% endblock %}